*{
    margin: 0px;
    padding: 0px;
}
.logo{
    justify-content: center;
    background-color: black;
    width: 100%;
    display:flex;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style:none;
}
body{
    font-family: 'Raleway', sans-serif;
}
.graficlogo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}
nav{
    margin: auto;
    width: 768px;
    height: 50px;
    position: relative;
}
.topnav{
    background-color: white;
    font-size: 14px;
    margin-top: 40px;
}
.topnav a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
.topnav a:hover{
    border-bottom: 2px solid black;
}
.topnav .icon{
    display:none;
}
.mw-100{
    max-width: 100%;
}
.advantages__container{
    margin: auto;
    justify-content: center;
    display:flex;
}
.advantages{
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top:40px;
    padding-bottom: 40px;
}
.advantages__item{
    width: 30%;
}
footer{
    width: 100%;
    height: auto;
    background: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}
footer nav a:hover{
    border-bottom: 1px solid white;
}
.socials img{
    margin-left: 10px;
    margin-top:10px;
}
.socials img:hover{
    background: #494949;
    border-radius: 50%;
}
footer p{
    padding-top: 10px;
    color: white;
}
.gallery{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.photo-item{
    width: 25%;
}
.photo-item img{
    box-sizing: border-box;
    max-width: 100%;
    filter: grayscale(100%);
}
.photo-item img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    cursor: pointer;
}
.blog-container {
    background: #fafafa;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50rem;
}
.blog-container a:hover
{
    border-color: #ff4d5d;
    color: #ff4d4d;
}
.blog-cover{
    background: url(../img/mountains.jpg);
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}
.blog-body{
    margin: 0 auto;
    width: 80%;
}
.blog-title{
    color: #333;
    font-weight: 100;
}
.blog-text{
    color: #4d4d4d;
}
.blog-tags ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.blog-tags li+li{
    margin-left:0.5rem;
}
.blog-tags a{
    border: 1px solid #999999;
    border-radius: 3px;
    color:#999999;
    font-size:.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}
.blog-footer{
    border-top: 1px;
    margin: 0 auto;
    padding-bottom: 0.125rem;
    width: 80%;
}
.blog-footer ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}
.blog-footer li{
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;

}
.published-date{
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.5rem;
}
#map{
    width: 100%;
    height: 400px;
}
.form{
    width: 50%;
    margin:50px auto;
}
.feedback-input{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    padding: 13px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid black;
}
textarea{
    width: 100%;
    height: 150px;
    resize: vertical;
}
.button-submit{
    float: left;
    width: 100%;
    border: 0px solid transparent;
    cursor: pointer;
    background-color: #000;
    color: white;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 300;
}
.button-submit:hover{
    background-color: white;
    color: #000;
    border: 1px solid #000;
}
.easy{
    width: 0;
    height: 74px;
    background-color: #fbfbfb;
    transition: 0.3s ease;
}
.about-container{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.about-container img{
    max-width: 100%;
}
.about-container p{
    margin-top: 50px;
}
.services{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.services img{
    max-width: 100%;
}
.services-container{
    margin-top: 50px;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 50px 100px;
}
.next, .prev{
    position: absolute;
    cursor: pointer;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
}
.next:hover, .prev:hover {
    color:white;
    border: 3px solid black;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
}
.slideshow-container {
    position: relative;
}
.mySlides{
    position: relative;
}
.next{
    right: 0;
}
.prev{
    left:0;
}
.mySlides img{
    display: block;
}
@media screen and (max-width:768px) {
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    .nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right:0px;
        top:0px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-aling: left;
    }
    .advantages__item {
        width: 45%;
    }
    .photo-item{
        width: 45%;
        margin-left: 10px;
    }
    .blog-container{
        width: 28rem;
    }
}
@media screen and (max-width:470px){
    .advantages{
        flex-diraction: column;
    }
    .advantages__item{
        width: 100%;
    }
    .photo-item{
        width: 90%;
        margin-left: 10px;
    }
    .blog-container{
        width: 20rem;
    }
    .services-container{
        grid-template-columns: auto;
    }
}
