*{
    margin: 0px;
    padding: 0px;
}
.logo{
    justify-content: center;
    background-color: black;
    width: 100%;
    display:flex;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style:none;
}
body{
    font-family: 'Raleway', sans-serif;
}
.graficlogo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}
nav{
    margin: auto;
    width: 768px;
    height: 50px;
    position: relative;
}
.topnav{
    background-color: white;
    font-size: 14px;
    margin-top: 40px;
}
.topnav a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
.topnav a:hover{
    border-bottom: 2px solid black;
}
.topnav .icon{
    display:none;
}
.mw-100{
    max-width: 100%;
}
.advantages__container{
    margin: auto;
    justify-content: center;
    display:flex;
}
.advantages{
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top:40px;
    padding-bottom: 40px;
}
.advantages__item{
    width: 30%;
}
footer{
    width: 100%;
    height: auto;
    background: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}
footer nav a:hover{
    border-bottom: 1px solid white;
}
.socials img{
    margin-left: 10px;
    margin-top:10px;
}
.socials img:hover{
    background: #494949;
    border-radius: 50%;
}
footer p{
    padding-top: 10px;
    color: white;
}
@media screen and (max-width:768px) {
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    .nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right:0px;
        top:0px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-aling: left;
    }
    .advantages__item {
        width: 45%;
    }
}
@media screen and (max-width:470px){
    .advantages{
        flex-diraction: column;
    }
    .advantages__item{
        width: 100%;
    }
}
